@import '../../_variables.scss';

.navbar-ifs {
    background-color: $ifs-purple;

    .nav-menu-btn {
        margin-right: 1em;
    }
	.navbar-brand {
		cursor: pointer;
		color: #ffffff !important;
		img { transition: all .2s ease-in-out; }
		img:hover { transform: scale(1.1); }
	}
	.btn-link {
		outline: 0;
		border: none;
		color: #ffffff;
		text-decoration: none;
	}
	.dropdown-menu {
		border-radius: 0;
		margin-top: 11px;
	}
    #dropdown-topbar-user {
        cursor: pointer;
    }
}

/* Slide out menu */
.st-container,
.st-content {
	height: 100%;
	color: #ffffff;
}

.st-content {
	overflow-y: scroll;
	background: #ffffff;
}

.st-content,
.st-content-inner {
	position: relative;
}

.st-container {
	overflow: hidden;
	position: fixed;
	left: -22.5em;
	top: 3.75em;
	width: 18.75em;
    z-index: 20;

	.quick-search {
		margin-top: 1em;
		background-color: transparent;
		border: none;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #cccccc;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: #cccccc;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: #cccccc;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: #cccccc;
	}
}
.st-container.st-menu-open {
	display: block;
	width: 100%;
	left: 3.75em;
}
.st-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 60;
	display: none;
	width: 300px;
	height: 100%;
	background: #9a9a9a;
	-webkit-transition: all $slideout-transition-speed;
	transition: all $slideout-transition-speed;
}
.st-menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #747474;
	content: '';
	opacity: 1;
	-webkit-transition: opacity $slideout-transition-speed;
	transition: opacity $slideout-transition-speed;
}
.st-menu-open .st-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity $slideout-transition-speed, width 0.1s $slideout-transition-speed, height 0.1s $slideout-transition-speed;
	transition: opacity $slideout-transition-speed, width 0.1s $slideout-transition-speed, height 0.1s $slideout-transition-speed;
}

/* content style */
.st-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.st-menu h2 {
	margin: 0;
	padding: 1em;
	color: #454545;
	font-weight: 300;
	font-size: 2em;
}
.st-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px #747474;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}
.st-menu ul li:first-child a {
	box-shadow: inset 0 -1px #747474, inset 0 1px #747474;
}
.st-menu ul li a:hover, .st-menu ul li a.active {
	background: #747474;
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}
.st-effect.st-menu {
	display: block;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}
.st-effect.st-menu-open .st-effect.st-menu {
	display: block;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.st-effect.st-menu::after {
	display: none;
}
