.page-manager {
    padding-top: 2.75em + 1em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 100%;
}
.nav {
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}
.nav-item
.nav-link > * {
    cursor: pointer;
}
.nav-link {
    display: table;
}