.btn:focus { outline: none; box-shadow: none;}
.btn:hover { outline: 0 !important; box-shadow: none;}

.fa.disabled,
.fa[disabled],
.disabled > .fa,
[disabled] > .fa {
  color: lightgrey;
  opacity: 0.5;
}
