<div>
    <div *ngIf="!componentContext.id">
        <div class="masthead">
            <h3 class="text-muted">Checklists</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a (click)="selectPage('1001')">1001</a></td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>adipiscing</td>
                        <td>elit</td>
                    </tr>
                    <tr>
                        <td><a (click)="selectPage('1002')">1002</a></td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>adipiscing</td>
                        <td>elit</td>
                    </tr>
                    <tr>
                        <td><a (click)="selectPage('1003')">1003</a></td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>adipiscing</td>
                        <td>elit</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="componentContext.id">
        <h3>Checklist: {{componentContext.id}}</h3>
        <br>
        <div class="masthead">
            <h3 class="text-muted">Airplane</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href (click)="selectPage('1234'); false;">1234</a></td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>elit</td>
                    </tr>
                    <tr>
                        <td><a href (click)="selectPage('2323'); false;">2323</a></td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>sit</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>