<div class="container app-content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Register
                </div>

                <div class="card-block">
                    <error-summary [errors]="errors"></error-summary>
                    <dynamic-form (formsubmit)="register($event)" [controls]="controls" [btnText]="'Register'"></dynamic-form>
                </div>
            </div>
        </div>
    </div>
</div>